.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.wrapper > div:last-child {
    margin-top: 16px;
}

.wrapper > p {
    margin-bottom: 0px;
}

.triangle {
    display: flex;
    min-width: 200px;
    min-height: 140px;
    justify-content: center;
    position: relative;
}

.triangle > span {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

    border-bottom: 160px solid var(--light--green);
}

.triangle p {
    z-index: 99;
    position: absolute;
    margin: 0px;
}

.triangle p:nth-child(2) {
    left: 106px;
    top: 32px;
    width: 36px;
    text-align: center;
}

.triangle p:nth-child(3) {
    z-index: 99;
    position: absolute;
    left: 50px;
    bottom: -15px;
}

.triangle p:nth-child(4) {
    z-index: 99;
    position: absolute;
    right: 50px;
    bottom: -15px;
    width: 40px;
    text-align: right;
}